<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htfc786.wydb.mapper.WyCollectionMapper">
    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `wy_collection`(name, description) values (#{name}, #{description})
    </insert>
    <delete id="deleteById">
        DELETE FROM  `wy_collection` WHERE id = #{id}
    </delete>
    <update id="updateById">
        UPDATE `wy_collection`
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="description != null">description = #{description}</if>
        </set>
        WHERE id = #{id}
    </update>
    <select id="getById" resultType="com.htfc786.wydb.entity.WyCollection">
        SELECT * FROM `wy_collection` WHERE id = #{id}
    </select>
    <select id="getAll" resultType="com.htfc786.wydb.entity.WyCollection">
        SELECT * FROM `wy_collection`
    </select>
    <select id="getList" resultType="com.htfc786.wydb.model.dto.WyCollectionList">
        SELECT id,name FROM `wy_collection`
    </select>
</mapper>