<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htfc786.wydb.mapper.WyContentMapper">
    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `wy_content`(collection_id, article_id, paragraph, `order`, content, translations) values (#{collectionId}, #{articleId}, #{paragraph}, #{order}, #{content}, #{translations})
    </insert>
    <delete id="deleteById">
        DELETE FROM  `wy_content` WHERE article_id = #{articleId} AND id = #{id}
    </delete>
    <delete id="deleteByArticle">
        DELETE FROM  `wy_content` WHERE article_id = #{articleId}
    </delete>
    <delete id="deleteByCollection">
        DELETE FROM  `wy_content` WHERE collection_id = #{collectionId}
    </delete>
    <update id="updateById">
        UPDATE `wy_content`
        <set>
            <if test="paragraph != null">paragraph = #{paragraph},</if>
            <if test="order != null">`order` = #{order},</if>
            <if test="content != null">content = #{content},</if>
            <if test="translations != null">translations = #{translations},</if>
        </set>
        WHERE article_id = #{articleId} AND id = #{id}
    </update>
    <update id="updateByOrder">
        UPDATE `wy_content`
        <set>
            <if test="wyContent.paragraph != null">paragraph = #{wyContent.paragraph},</if>
            <if test="wyContent.order != null">`order` = #{wyContent.order},</if>
            <if test="wyContent.content != null">content = #{wyContent.content},</if>
            <if test="wyContent.translations != null">translations = #{wyContent.translations},</if>
        </set>
        WHERE article_id = #{oldArticleId} AND `order` = #{oldOrder}
    </update>
    <select id="getById" resultType="com.htfc786.wydb.entity.WyContent">
        SELECT * FROM `wy_content` WHERE article_id = #{articleId} AND id = #{id}
    </select>
    <select id="getByArticle" resultType="com.htfc786.wydb.entity.WyContent">
        SELECT * FROM `wy_content` WHERE article_id = #{articleId} ORDER BY `order`
    </select>
    <select id="getByOrder" resultType="com.htfc786.wydb.entity.WyContent">
        SELECT * FROM `wy_content` WHERE article_id = #{articleId} AND `order` = #{order}
    </select>
    <select id="getByParagraph" resultType="com.htfc786.wydb.entity.WyContent">
        SELECT * FROM `wy_content` WHERE article_id = #{articleId} AND paragraph = #{paragraph} ORDER BY `order`
    </select>
    <select id="getContentById" resultType="String">
        SELECT content FROM `wy_content` WHERE article_id = #{articleId} AND id = #{id}
    </select>
    <select id="getContentByArticle" resultType="com.htfc786.wydb.model.dto.WyContentOnlyPar">
        SELECT paragraph,`order`,content FROM `wy_content` WHERE article_id = #{articleId} ORDER BY `order`
    </select>
    <select id="getContentByOrder" resultType="String">
        SELECT content FROM `wy_content` WHERE article_id = #{articleId} AND `order` = #{order}
    </select>
    <select id="getContentByParagraph" resultType="String">
        SELECT content FROM `wy_content` WHERE article_id = #{articleId} AND paragraph = #{paragraph} ORDER BY `order`
    </select>
    <select id="getMaxOrder" resultType="Integer">
        SELECT MAX(`order`) FROM `wy_content` WHERE article_id = #{articleId}
    </select>
    <select id="getMaxParagraph" resultType="Integer">
        SELECT MAX(paragraph) FROM `wy_content` WHERE article_id = #{articleId}
    </select>
    <select id="getMaxParagraphOrder" resultType="Integer">
        SELECT MAX(`order`) FROM `wy_content` WHERE article_id = #{articleId} AND paragraph = #{paragraph}
    </select>
</mapper>